<!DOCTYPE html>
<html ng-app="GiltApp">
<head>
	<title>Brenton's App</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="main">
		<div class="header">
			<h1>Welcome!</h1>
		</div>
		<form class="pure-form"><fieldset>
			<legend>Filter the results</legend>
			<input type="text" placeholder="Search" ng-model="searchText" />
		</fieldset></form>
		<div ng-controller="GiltController" ng-init="getItems()">
			<div class="pure-g" ng-repeat="item in items | filter:searchText | limitTo:20">{{ $log.log(item) }}
				<div class="pure-u-1-2">
					<h2>{{ item.name }}</h2>
					<img class="pure-img" ng-src="{{ item.image_urls.315x295[0].url }}" />
				</div>
				<div class="pure-u-1-2 item-desc">
					<span class="pure-button store-{{ item.store }}">{{ item.store }}</span>
					<p>{{ item.description }}</p>
					<h3>Sale ends {{ item.ends | date:'MM/dd/yyyy @ h:mma' }}!</h3>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
