div#main {
	margin: 20px;
}

div.sale-desc {
	padding: 20px;
}

a.store-home {
	background: #d3eda3;
	color: #72962e;
}

a.store-kids {
	background: #e1f2fa;
	color: #5992aa;
}

a.store-men {
	background: #fcebbd;
	color: #af9540;
}

a.store-women {
	background: #ddaeff;
	color: #8156a7;
}
